* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#blog h3, h4 {
    text-align: center;
}

#blog .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

@media (min-width:1024px) {
    
}